@-webkit-keyframes Hero {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
@-moz-keyframes Hero {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
@keyframes Hero {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}


@-webkit-keyframes Module-Move {
    0%{margin: -5px auto;}
    100%{margin: 10px auto;}
}
@-moz-keyframes Module-Move {
  0%{margin: -5px auto;}
  100%{margin: 10px auto;}
}
@keyframes Module-Move {
  0%{margin: -5px auto;}
  100%{margin: 10px auto;}
}


@-webkit-keyframes AlertDisappear {
  0%{
    height: 57px;
    opacity: 1;
    border: 2px solid green;
    color: green;
    margin: 10px auto;
    font-size: 15px;
  }
  85%{
    height: 57px;
    opacity: 1;
    border: 2px solid green;
    color: green;
    margin: 10px auto;
    font-size: 15px;
  }
  99% {
    height: 0px;
    opacity: 0;
    border: 0px solid transparent;
    color: transparent;
    margin: 0;
    font-size: 0px;
  }
  100%{
    height: 0px;
    opacity: 0;
    border: 0px solid transparent;
    color: transparent;
    margin: 0;
    font-size: 0px;
  }
}
@-moz-keyframes AlertDisappear {
  0%{
    height: 57px;
    opacity: 1;
    border: 2px solid green;
    color: green;
    margin: 10px auto;
    font-size: 15px;
  }
  85%{
    height: 57px;
    opacity: 1;
    border: 2px solid green;
    color: green;
    margin: 10px auto;
    font-size: 15px;
  }
  99% {
    height: 0px;
    opacity: 0;
    border: 0px solid transparent;
    color: transparent;
    margin: 0;
    font-size: 0px;
  }
  100%{
    height: 0px;
    opacity: 0;
    border: 0px solid transparent;
    color: transparent;
    margin: 0;
    font-size: 0px;
  }
}
@keyframes AlertDisappear {
  0%{
    height: 57px;
    opacity: 1;
    border: 2px solid green;
    color: green;
    margin: 10px auto;
    font-size: 15px;
  }
  85%{
    height: 57px;
    opacity: 1;
    border: 2px solid green;
    color: green;
    margin: 10px auto;
    font-size: 15px;
  }
  99% {
    height: 0px;
    opacity: 0;
    border: 0px solid transparent;
    color: transparent;
    margin: 0;
    font-size: 0px;
  }
  100%{
    height: 0px;
    opacity: 0;
    border: 0px solid transparent;
    color: transparent;
    margin: 0;
    font-size: 0px;
  }
}
