// @font-face {
//   font-family: 'Exo';
//   src: url('assets/main.ttf')  format('truetype');
// }

@font-face {
  font-family: 'Speak';
  src: url('assets/speak.ttf')  format('truetype');
}
@font-face {
  font-family: 'Know';
  src: url('assets/know.ttf')  format('truetype');
}
@font-face {
  font-family: 'Neon';
  src: url('assets/neon.ttf')  format('truetype');
}
@font-face {
  font-family: 'Fuji';
  src: url('assets/fuji.ttf')  format('truetype');
}
@font-face {
  font-family: 'Zara';
  src: url('assets/zara.ttf')  format('truetype');
}
