@font-face {
  font-family: 'Speak';
  src: url('assets/speak.ttf')  format('truetype');
}
@font-face {
  font-family: 'Fuji';
  src: url('assets/fuji.ttf')  format('truetype');
}
@font-face {
  font-family: 'Zara';
  src: url('assets/zara.ttf')  format('truetype');
}
