@import 'variables';
@import 'fonts';
@import 'animations';

header {
  z-index: 3;
  position: fixed;
  box-sizing: border-box;
  top: 0px;
  width: 100%;
  height: 60px;
  background-color: $turq;
  border-bottom: 2px solid rgba(0, 0, 0, .1);

  background: linear-gradient(141deg, $turq, $light, $green);
  background-size: 600% 600%;

  -webkit-animation: Hero 8s ease infinite;
  -moz-animation: Hero 8s ease infinite;
  animation: Hero 8s ease infinite;

  .menu-button {
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, .1);
    border-bottom: none;
    position: absolute;
    width: 60px;
    height: 58px;
    left: 0px;
    top: 0px;
    img {
      display: block;
      position: absolute;
      opacity: .7;
      transition: .2s;
      left: 7px;
      top: 8px;
      width: 40px;
      height: auto;
    }
    ul {
      z-index: 4;
      padding-left: 0px;
      height: 0px;
      transition: .3s;
      display: block;
      position: absolute;
      top: 42px;
      left: -10px;
      width: 200px;
      a {
        text-decoration: none;
        font-size: 20px;
        display: block;
        color: transparent;
      }
      li {
        display: block;
        box-sizing: border-box;
        padding: 0 0 0 25px;
        transition: .3s;
        width: 100%;
        float: left;
        overflow: hidden;
        height: 0;
        border: none;
        border-top: none;

        background: linear-gradient(141deg, $turq, $light, $green);
        background-size: 600% 600%;

        -webkit-animation: Hero 8s ease infinite;
        -moz-animation: Hero 8s ease infinite;
        animation: Hero 8s ease infinite;
      }
    }
    .expanded {
      height: 170px;
      li {
        cursor: pointer;
        padding: 4px 0 8px 25px;
        height: 36px;
        border: 2px solid rgba(0, 0, 0, .1);
        border-top: none;
        border-left: none;
        &:hover {
          background-color: $white;
          transition: .5s;
        }
        &:active {
          background-color: white;
          transition: 0s;
        }
      }
      a {
        color: white;
      }
    }
  }
  h1 {
    color: white;
    text-shadow: 1px 1px 8px $dark;
    margin-top: 3px;
    padding: 5px 0;
    text-align: center;
    font-size: 33px;
    cursor: pointer;
  }
  .invisible-escape {
    position: fixed;
    // background-color: rgba(0,0,0,.4);
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
