@import 'variables';
@import 'fonts';
@import 'animations';

.speak {
  box-sizing: border-box;
  display: block;
  height: 100%;
  width: 100%;
  padding: 10% 10% 0 10%;
  border: 5px solid $hotgreen;
  background-color: black;

  color: $hotgreen;
  font-family: 'Speak', 'monospace';
  font-size: 50px;

  .theme-object {
    height: 100%;
    width: 100%;
  }
  .left-button, .right-button {
    [type="button"] {
      color: $hotgreen;
      border: 2px solid $hotgreen;
      background: black;
    }
  }
}
.zarathustra {
  position: relative;
  box-sizing: border-box;
  display: block;
  height: 100%;
  width: 100%;
  background: url('assets/zara.jpg');
  background-size: 200% 200%;
  color: #222;
  text-shadow: 2px 2px #BBB;
  font-family: 'Zara', serif;
  overflow: hidden;
  // filter: brightness(0%);
  text-align: center;

  -webkit-animation: Space 20s forwards;
  -moz-animatin: Space 20s forwards;
  animation: Space 20s linear forwards;
  span {
    -webkit-animation: FadeIn .6s;
    -moz-animation: FadeIn .6s;
    animation: FadeIn .6s;
  }
  .theme-object {
    position: absolute;
    height: 80%;
    width: 70%;
    bottom: 0;
    left: 15%;
    // margin-top: 30%;
    background-color: black;
    box-shadow: 0 0 30px #CCC;
    span {
      font-size: 35px;
    }
  }
  .left-button, .right-button {
    [type="button"] {
      z-index: 10;
      color: black;
      border: 2px solid gold;
      background: gold;
    }
  }
}
