@import 'variables';
@import 'fonts';
@import 'animations';

.speak {
  box-sizing: border-box;
  display: block;
  height: 100%;
  width: 100%;
  padding: 10% 10% 0 10%;
  border: 5px solid $hotgreen;
  background-color: $backgreen;

  color: $hotgreen;
  font-family: 'Speak', 'monospace';
  font-size: 40px;
  line-height: 40px;

  .theme-object {
    height: 100%;
    width: 100%;
  }
  .left-button, .right-button {
    [type="button"] {
      color: $hotgreen;
      border: 2px solid $hotgreen;
      background: $backgreen;
    }
  }
}

.know {
  position: relative;
  box-sizing: border-box;
  display: block;
  height: 100%;
  width: 100%;
  background: url('assets/know.jpg');

  color: $kidpurp;
  font-family: 'Know', 'cursive';
  font-size: 30px;
  line-height: 31px;
  // text-transform: lowercase;

  .theme-object {
    box-sizing: border-box;
    position: absolute;
    height: 80%;
    width: 70%;
    bottom: 0;
    left: 15%;
    padding: 4% 6% 0 6%;
    background-color: white;
    box-shadow: 5px 2px 10px rgba(0, 0, 0, .3);
  }
  .left-button, .right-button {
    [type="button"] {
      color: white;
      border: 2px solid white;
      background: url('assets/know.jpg');
    }
  }
}

.neon {
  position: relative;
  box-sizing: border-box;
  display: block;
  padding: 10% 10% 0 10%;
  height: 100%;
  width: 100%;
  background: url('assets/neon.jpg');
  border: 2px solid $menace;

  color: $menace;
  text-align: center;
  font-family: 'Neon', 'sans-serif';
  font-size: 44px;
  text-transform: uppercase;
  span {
    animation: Neon .6s;

    @keyframes Neon {
      0% {
        color: white;
        text-shadow: 0px 0px 100px $menace;
      }
      50% {
        color: $menacetrans;
        text-shadow: 0px 0px 30px $menace;
      }
      100% {
        color: $menace;
        text-shadow: 0px 0px 0px $menace;
      }
    }
  }

  .theme-object {
    height: 100%;
    width: 100%;
  }
  .left-button, .right-button {
    [type="button"] {
      color: $menace;
      border: 2px solid $menace;
      background: url('assets/neon.jpg');
    }
  }
}
.fuji {
  text-transform: uppercase;
  box-sizing: border-box;
  display: block;
  height: 100%;
  width: 100%;
  padding: 10% 10% 0 10%;
  background-color: black;
  background: url('assets/fuji.jpg');
  background-size: 125% auto;
  background-repeat: no-repeat;

  -webkit-animation: Japan 10s ease forwards;
  -moz-animatin: Japan 10s ease forwards;
  animation: Japan 10s ease forwards;

  color: white;
  text-shadow: 2px 2px $flower;
  font-family: 'Fuji', 'cursive';
  font-size: 44px;
  line-height: 44px;

  .theme-object {
    height: 100%;
    width: 100%;
  }
  .left-button, .right-button {
    [type="button"] {
      color: $sky;
      border: 2px solid $sky;
      background: $mountain;
    }
  }
}
.zarathustra {
  position: relative;
  box-sizing: border-box;
  display: block;
  height: 100%;
  width: 100%;
  background: url('assets/zara.jpg');
  background-size: 100% auto;
  overflow: hidden;
  text-align: center;

  -webkit-animation: Space 40s linear forwards;
  -moz-animatin: Space 40s linear forwards;
  animation: Space 40s linear forwards;
  span {
    -webkit-animation: FadeIn .6s;
    -moz-animation: FadeIn .6s;
    animation: FadeIn .6s;
  }
  .theme-object {
    box-sizing: border-box;
    padding: 4% 3%;
    position: absolute;
    height: 80%;
    width: 70%;
    bottom: 0;
    left: 15%;
    box-shadow: 0 0 30px #CCC;

    background: linear-gradient(134deg, #000000, #111111, #292929, #111111, #000000);
    background-size: 600% 600%;

    -webkit-animation: Hero 15s ease infinite;
    -moz-animation: Hero 15s ease infinite;
    animation: Hero 15s ease infinite;

    span {
      font-family: 'Zara', 'sans-serif';
      line-height: 28px;
      text-transform: uppercase;
      color: rgba(256, 256, 256, .1);
      text-shadow: 2px 2px rgba(256, 256, 256, .4);
      font-size: 31px;
    }
  }
  .left-button, .right-button {
    [type="button"] {
      z-index: 10;
      color: white;
      border: 2px solid white;
      background: url('assets/zara.jpg');
    }
  }
}

@media (min-width: 750px) {
  .speak {
    font-size: 60px;
    line-height: 60px;
  }
  .know {
    font-size: 60px;
    line-height: 68px;
  }
  .neon {
    font-size: 80px;
  }
  .fuji {
    font-size: 70px;
    line-height: 76px;
  }
  .zarathustra .theme-object span {
    font-size: 50px;
    line-height: 50px;
  }
}
