$dark: #03312E;
$light: #02C3BD;
$white: #C5F9F6;
$cruise: #B6E6E3;
$turq: #037171;
$green: #009F93;

//theme colors

$hotgreen: #1EE646;
$backgreen: #0B2310;

$kidpurp: #B441A7;

$menace: #CE1212;
$menacetrans: #F18383;

$mountain: #C39B99;
$flower: #A51D71;
// $sky: #F8F3F0;
$sky: #e7dfda;
