@import 'variables';
@import 'fonts';
@import 'animations';

@import 'intropages';
@import 'header';
@import 'themes';

body {
  margin: 0;
  font-family: 'Exo', sans-serif;
  background: $white;
  color: $dark;
}

.alert-notifications, .about, .new-message, .select-friend, .profile-page, .search-friend {
  margin-top: 90px;
}

.alert-notifications {
  width: 100%;
  h2 {
    text-align: center;
    margin: 0;
    padding: 0 0 30px 0;
    border-bottom: 2px solid white;
  }
}
.alert-box {
  width: 100%;
}
.new-message-alert, .friend-request, .friend-selector, .friend-listing {
  position: relative;
  padding: 0 4px;
  width: 90%;
  height: 57px;
  margin: 10px auto;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: 28px;
  background-color: rgba(256, 256, 256, .2);

  -webkit-animation: Module-Move .4s;
  -moz-animation: Module-Move .4s;
  animation: Module-Move .4s;

  .alert-color, .selector-pic, .search-pic {
    position: absolute;
    top: -5px;
    left: -5px;
    box-sizing: border-box;
    border: 2 px solid white;
    border-radius: 50%;
    background-color: $turq;
    height: 49px;
    width: 49px;
    margin: 7px;

    object-fit: cover;
    overflow: hidden;
    img {
      width: 49px;
      height: auto;
    }
  }
  p {
    margin: 3px 0;
    padding-left: 56px;
    font-size: 15px;
  }
  span {
    margin: 0;
    display: block;
    color: $turq;
    float: right;
    padding-right: 10px;
    text-align: left;
    width: 140px;
    font-size: 13px;
    font-style: italic;
    font-weight: 200;
  }
  h5 {
    margin: 6px;
    text-align: center;
    font-size: 18px;
  }
}
.message-sent {

  position: relative;
  padding: 0 4px;
  width: 90%;
  margin: 10px auto;
  box-sizing: border-box;
  border-radius: 28px;
  background-color: rgba(256, 256, 256, .2);
  text-align: center;

  height: 0px;
  display: block;
  opacity: 0;
  border: 0px solid transparent;
  color: transparent;
  font-size: 0px;
  margin: 0;
  padding: 0;

  -webkit-animation: Module-Move .4s;
  -moz-animation: Module-Move .4s;
  animation: Module-Move .4s;

  -webkit-animation: AlertDisappear 3.5s forwards;
  -moz-animation: AlertDisappear 3.5s forwards;
  animation: AlertDisappear 3.5s forwards;

}
.profile-page {
  position: relative;
  h2 {
    text-align: center;
  }
  .left-side {
    padding: 0;
    margin: 0;
    display: block;
    width: 50%;
    float: left;
    .profile-pic {
      display: block;
      margin: 0 auto;
      height: 44vw;
      width: 44vw;
      max-height: 500px;
      max-width: 500px;
      border-radius: 50%;
      box-sizing: border-box;
      border: 2px solid $dark;
      object-fit: cover;
      overflow: hidden;
      img {
        width: 50vw;
        height: auto;
      }
    }
    [type="button"] {
      display: block;
      width: 90%;
      height: 38px;
      margin: 10px auto;
      padding: 1vw;
      font-size: 3.2vw;
      text-align: center;
      border: 2px solid rgba(0, 0, 0, .4);
      border-radius: 100px;
      background-color: rgba(0, 0, 0, .2);
    }
  }
  .right-side {
    padding: 0;
    margin: 0;
    display: block;
    width: 50%;
    float: right;
    p {
      font-weight: 200;
      font-style: italic;
    }
    .sect1 {
      width: 87%;
      margin: 0 5% 0 8%;
    }
    .sect2 {
      width: 87%;
      margin: 28px 5% 0 8%;
      // width: 80%;
      // margin: 2% 2% 0 16%;
    }
  }
  .friend-list {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30vh;
    background-color: $green;
    h5 {
      margin: -34px 0 10px 0;
      font-size: 24px;
      text-align: center;
    }
    .friend-widget {
      width: 23vw;
      height: 14vw;
      margin: 3vw 1vw 6vw 1vw;
      float: left;
      transition: .6s;
      &:hover {
        margin: 0 1vw 9vw 1vw;
      }
      .friend-pic {
        margin: 0 auto;
        width: 14vw;
        height: 14vw;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
        img {
          width: 100%;
          height: auto;
        }
      }
      h6 {
        margin: 0;
        text-align: center;
        font-size: 14px;
      }
    }
    .friend-widget:nth-child(6) {
      margin: 3vw 1vw 6vw 13vw;
      &:hover {
        margin: 0 1vw 9vw 13vw;
      }
    }
    .friend-widget:nth-child(8) {
      margin: 3vw 13vw 6vw 1vw;
      &:hover {
        margin: 0 13vw 9vw 1vw;
      }
    }
  }
}
.select-friend {
  h4 {
    text-align: center;
  }
  // .profile-button {
  //   position: absolute;
  //   z-index: 5;
  //   top: -5px;
  //   right: -5px;
  //   box-sizing: border-box;
  //   border: 2 px solid white;
  //   border-radius: 50%;
  //   background-color: $turq;
  //   height: 49px;
  //   width: 49px;
  //   margin: 7px;
  // }
}
.message-placemat {
  z-index: 2;
  position: fixed;
  background: rgba(0,0,0,.8);
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0;
  .message-window {
    display: block;
    position: absolute;
    background: gray;
    width: 90%;
    left: 5%;
    height: 60%;
    top: 10%;
  }
  .left-button, .right-button{
    z-index: 3;
    position: fixed;
    width: 50%;
    bottom: 10%;
    color: $white;
    [type="button"] {
      width: 74%;
      display: block;
      font: 28px;
      padding: 8px;
      margin: 20px auto;
    }
  }
  .left-button {
    left: 0;
  }
  .right-button {
    right: 0;
  }
}
