@import 'variables';
@import 'fonts';
@import 'animations';

@import 'intropages';
@import 'header';
@import 'contentpages';
@import 'themes';
@import 'notifications';

body {
  margin: 0;
  font-family: 'Exo', sans-serif;
  background: $white;
  color: $dark;
}

@media (min-width: 750px) {
  .alert-notifications, .about, .new-message, .select-friend, .profile-page, .search-friend, {
    margin-top: 140px;
  }
  header {
    height: 110px;
    border-bottom: none;
    .menu-button {
      width: 100%;
      height: 0px;
      img {
        display: none;
      }
      ul {
        position: relative;
        display: flex;
        margin: 33px auto 0 auto;
        width: 102%;
        max-width: 1600px;
        height: 30px;

        a {
          font-size: 15px;
          font-weight: 200;
          font-style: italic;
          color: white;
        }
        li {
          padding: 4px 0 0 0;
          text-align: center;
          transition: 1.2s;
          width: 20%;
          height: 30px;
          background: transparent;
          border-right: 1px solid white;
          &:hover {
            background: rgba(0,0,0,.3);
          }
        }
      }
    }
    h1 {
      color: white;
      text-shadow: 1px 1px 8px $dark;
      margin-top: 11px;
      padding: 5px 0;
      text-align: center;
      font-size: 37px;
    }
    .invisible-escape {
      display: none;
    }
  }
  #container .profile-page {
    h2 {
      font-size: 38px;
      margin: 6px;
    }
    .left-side {
      [type="button"] {
        width: 250px;
        font-size: 18px;
        padding: 3px;
      }
    }
    .friend-list {
      overflow-y: scroll;
      flex-wrap: nowrap;
      justify-content: flex-start;
      h5 {
        font-size: 30px;
        display: block;
        position: fixed;
        width: 50%;
        left: 25%;
        bottom: 28vh;
      }
      .friend-widget {
        width: 160px;
        max-width: 160px;
        height: 160px;
        max-height: 160px;
        margin: 6px 2%;
        &:hover {
          margin: -14px 2% 26px 2%;
        }
        h6 {
          font-size: 22px;
        }
        .friend-pic {
          width: 160px;
          max-width: 160px;
          height: 160px;
          max-height: 160px;
          img {
            max-width: 160px;
            max-height: 160px;
          }
        }
      }
    }
  }
  .new-message form {
    [type="submit"] {
      margin-top: 390px;
    }
    .theme-list {
      position: fixed;
      display: flex;
      flex-flow: column;
      justify-content: center;
      left: 0;
      top: 220px;
      width: 100%;
      // margin-left
      [type="button"] {
        cursor: pointer;
        width: 500px;
        margin: 10px auto;
        box-shadow: none;
      }
    }
  }
  .message-placemat .x {
    display: none;
  }
}

@media (min-width: 850px) {
  .recipient-window {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    h4 {
      width: 100%;
    }
    .friend-selector {
      width: 40%;
      max-width: 400px;
    }
  }
  .list-window {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    h4 {
      width: 100%;
    }
    .friend-listing {
      width: 40%;
      max-width: 400px;
    }
  }
}
